@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --btn-color: #ff6138;
}

body {
  font-family: "Rajdhani", sans-serif;
}

li {
  list-style-type: none;
}
small {
  font-size: 16px;
  color: #555555;
}

.btn-mostan {
  background: var(--btn-color);

  border: none;
  width: 195px;
  height: 72px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-mostan-2 {
  background: #ffffff;

  border: none;
  width: 195px;
  height: 72px;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  border-left: 5px solid var(--btn-color);
}

.fa-solid {
  transform: rotate(-45deg);
  padding-left: 0.2rem;
}

/* top nav css */
.brand img {
  width: 180px;
  height: 48.06px;
}
.phone-number {
  padding-right: 1.5rem;
}
.phone-number img {
  width: 38.46px;
  height: 38.36px;
}
.loction {
  padding-right: 1.5rem;
}
.loction img {
  width: 32.76px;
  height: 43px;
}
.number-info,
.location-info p {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.social-link li {
  padding-left: 0.3rem;
}
/* navbar css */
.nav-link {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #131839;
}
/* hero css */

.hero-bg {
  background: linear-gradient(
      0deg,
      rgba(19, 24, 57, 0.73),
      rgba(19, 24, 57, 0.73)
    ),
    url(../images/hero-bg.png);
  height: 939px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-info-inner p {
  text-transform: uppercase;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.hero-info-inner h2 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 101px;
  line-height: 94px;
  text-transform: uppercase;
  padding: 23.35px 0 78px 0;
}
/* vission mission section */
.about p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--btn-color);
}
.about h2 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #131839;
  text-transform: uppercase;
  padding-bottom: 42px;
}
.mission h5 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #131839;
  text-transform: uppercase;
}
.mission p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #131839;
}
.mission a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
.mission a hr {
  left: 107%;
  position: absolute;
  top: -7px;
  width: 15px;
  border: 1px solid #131839;
}
.col-4 {
  padding: 111px 65px 65px 65px;
}

/* Offer css */

.services img {
  position: relative;
}

.overlay-bg {
  position: absolute;
  background: rgba(19, 24, 57, 0.9);
  transform: matrix(-1, 0, 0, 1, 0, 0);

  width: 350px;
  height: 188px;
  top: 66%;
}
.overlay-bg-2 {
  position: absolute;
  background: rgba(255, 97, 56, 0.91);
  transform: matrix(-1, 0, 0, 1, 0, 0);

  width: 350px;
  height: 188px;
  top: 66%;
}
.overlay-border {
  position: absolute;
  width: 24px;
  height: 89px;
  top: 52.5%;
  left: 93.2%;
  background: #ff6138;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.overlay-border-2 {
  position: absolute;
  width: 24px;
  height: 89px;
  top: 52.5%;
  left: 93.2%;
  background: #131839;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.overlay-text {
  position: absolute;
  left: 19%;
  top: 81.5%;
}
.overlay-text p {
  color: white;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.overlay-text small {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
