@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --btn-color: #ff6138;
  --secondary-color: #131839;
  --primary-color: ;
}

body {
  font-family: "Rajdhani", sans-serif;
}

li {
  list-style-type: none;
}

span {
  color: #555;
  font-size: 16px;
  font-family: Rajdhani;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-mostan {
  background: var(--btn-color);

  border: none;
  width: 195px;
  height: 72px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-mostan-2 {
  background: #ffffff;

  border: none;
  width: 195px;
  height: 72px;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  border-left: 5px solid var(--btn-color);
}

.fa-solid {
  transform: rotate(145deg);
  margin-left: 0.5rem;
}
.title {
  color: var(--secondary-color);
  font-size: 45px;
  font-family: Rajdhani;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
}
.sub-title {
  color: var(--pri-02, #ff6138);

  font-size: 18px;
  font-family: Rajdhani;
  font-weight: 700;
  text-transform: uppercase;
}

/* Topbar css */

.logo img {
  width: 180px;
  height: 48.058px;
}
.call,
.location p {
  color: #000;
  font-size: 20px;
  font-family: Rajdhani;
  font-weight: 700;
  text-transform: uppercase;
}

.call img {
  width: 41px;
  height: 41px;
  top: -5px;
  position: relative;
}
.location img {
  width: 43px;
  height: 43px;

  top: -8px;
  position: relative;
}
.social-icons li {
  padding-left: 0.5rem;
}

/* navbar css */
.navbar-nav .nav-link {
  color: #131839;
  font-size: 18px;
  font-family: Rajdhani;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}
/* hero css */

#hero {
  background: linear-gradient(
      0deg,
      rgba(19, 24, 57, 0.73),
      rgba(19, 24, 57, 0.73)
    ),
    url(../images/hero-bg.png);
  height: 850px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-info-inner p {
  text-transform: uppercase;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.hero-info-inner h2 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 101px;
  line-height: 94px;
  text-transform: uppercase;
  padding: 23.35px 0 78px 0;
  color: #ffffff;
}
/* Service section */
#services {
  margin-bottom: 100px;
}
.services-items {
  padding-top: 113px;
  padding-bottom: 74px;
}
.ssb {
  border-right: 1px solid rgba(19, 24, 57, 0.15);
}
.ssb-3 {
  position: relative;
  top: -16px;
  left: 0;
  right: 0;
}
.mission-info {
  padding: 0 1.5rem;
}
.mission-info h4 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #131839;
  text-transform: uppercase;
}

.mission-info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #131839;
}
.mission-info a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
.mission a hr {
  left: 107%;
  position: absolute;
  top: -7px;
  width: 15px;
  border: 1px solid #131839;
}

/* Offer css */

#offer {
  margin-bottom: 100px;
}
.service-title p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ff6138;
}
.service-title h2 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.offers {
  position: relative;
}
.offer-info {
  margin-bottom: 50px;
}
.overlay-bg {
  position: absolute;
  background: rgba(19, 24, 57, 0.9);
  width: 356px;
  height: 188px;
  top: 60%;
}
.overlay-bg-2 {
  position: absolute;
  background: #ff6138;
  width: 356px;
  height: 188px;
  top: 60%;
}
.overlay-border {
  position: absolute;
  width: 24px;
  height: 188px;
  top: 60%;
  background: #ff6138;
}
.overlay-border-2 {
  position: absolute;
  width: 24px;

  height: 188px;
  top: 60%;
  background: #131839;
}
.text-overlay {
  position: absolute;
  left: 19%;
  top: 81.5%;
}
.text-overlay h6 {
  color: white;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  text-transform: uppercase;
}
.text-overlay p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

/* case study css */
#business {
  margin-bottom: 77px;
}
.business-info {
  margin-bottom: 50px;
}
.tabs {
  padding-bottom: 35px;
}
.tabs .nav-item .nav-link.active {
  background-color: #131839;
  color: white;
}

.tabs .nav-item {
  padding-left: 1rem;
}

.tabs .nav-item .nav-link {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #565872;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
}

/* Frequently css */
#faq {
  width: 100%;
  height: 936px;
  background: #f2f2f4;
  position: relative;
}
.faq-img {
  position: absolute;
  background: linear-gradient(
      0deg,
      rgba(19, 24, 57, 0.73),
      rgba(19, 24, 57, 0.73)
    ),
    url(../images/annotation.png);
  width: 600px;
  height: 937px;
  top: 0;
  right: 0;
}
.bottom-overlay {
  position: absolute;
  width: 100%;
  height: 208px;
  background-color: #131839;
  bottom: 0;
}
.faq-info {
  padding-top: 124px;
}

.accordion-button:not(.collapsed) {
  color: #131839 !important;
  background-color: #ffffff !important;
}
.accordion-body {
  background-color: #f2f2f4;
}

/* testimonial */

.customer-testimonial h6 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #131839;
}
